html {
    position: relative;
    min-height: 101%;
}

body {
    font-family: 'Asap', sans-serif;
    background-color: #e2e2e2;
    margin-top: 30px;
    margin-bottom: 60px;
}

.jumbotron {
    background-color: #e5c7fe;
}

.text-muted {
    color: #e5c7fe;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 60px;
}
