.jumbotron {
    text-align: center;
}

#start {
    font-size: 25px;
}

.btn-default {
    background-color: #c0e0ff;
    border-color: #e5c7fe;
}
.form-control {
    border-color: #e5c7fe;
}

a:hover {
  text-decoration: none;
}

.table {
  text-align: left;
}
